html, body, #root {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', 'Helvetica Neue', Arial, 'sans-serif';
}

#root {
  padding: 0;
  text-align: initial;
}
