html, body, #root {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', 'Helvetica Neue', Arial, 'sans-serif';
}

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 0;
  text-align: initial;
}
